<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="float: left; line-height: 44px;">
      Task list
    </ion-title>
    <ion-button style="float: right;" color="danger" (click)="deleteTasks()">Delete all tasks</ion-button>
    <ion-button style="float: right;" color="primary" (click)="goToAddTask()">Add new task</ion-button>
    <div style="clear: both;"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <div class="task-container">
      <ion-card *ngFor="let task of tasks" [ngClass]="{'done': task.Status, 'in-progress': !task.Status}">
        <ion-item>
          <ion-icon name="{{task.Type.IconName}}" slot="start"></ion-icon>
          <ion-label>{{task.Title}}</ion-label>
          <ion-button *ngIf="!task.Status" color="primary" (click)="markAsDone(task.Id)">Mark as done</ion-button>
          <ion-button color="danger" (click)="delete(task.Id)">Delete task</ion-button>
        </ion-item>
        <ion-card-content (click)="presentModal(task.Id)">
          <span>Due date: {{task.DueDate}} </span>
          <span *ngIf="task.Status">Status: Done</span>
          <span *ngIf="!task.Status">Status: In progress</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
